@use '/node_modules/bootstrap/scss/bootstrap.scss';
@use '/node_modules/font-awesome/css/font-awesome.css';
@use './partials/variables.scss' as *;

//scrollbar
::-webkit-scrollbar {
    width: 6px;
    background-color: $bf_black;
}

// Track
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(107, 107, 107);
}

// Handle
::-webkit-scrollbar-thumb {
    background: $bf_primary;
    border-radius: 10px;
}

#app {
    background-color: $bf_dark;
    min-height: 100vh;
    color: $bf_white;

    #app_header {
        background-color: black;
        padding: .75rem 0;



        #search_bar {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                color: $bf_primary;
                text-transform: uppercase;
            }

            input,
            .filters,
            button {
                border: none;
                border-radius: 10px 0 0 10px;
                padding-left: .25rem;
                height: 26px;
            }

            .filters {
                margin-right: 1rem;
                border-radius: 10px;
                padding-left: .25rem;
            }

            button {
                border-radius: 0 10px 10px 0;
                border-left: 1px solid gray;
            }
        }
    }

    #app_main {

        .section_title {
            margin-bottom: 1rem;
            margin-top: 1.75rem;
            color: $bf_primary;
            text-transform: uppercase;
        }

        .row {
            justify-content: center;
            /* flex-wrap: nowrap;
            min-width: 100vw; */
            flex-wrap: wrap;

            .card {
                height: 100%;
                position: relative;

                .poster {
                    border-radius: .3rem;
                    width: 100%;
                    min-height: 367px;
                    object-fit: cover;
                }

                .alt-poster {
                    background-color: $bf_dark;
                    color: $bf_primary;
                    height: 100%;
                    border-radius: .3rem;
                    text-align: center;
                    text-transform: uppercase;
                    margin: auto;
                    font-size: 3rem;
                    font-weight: bold;
                    line-height: 100%;
                    display: flex;
                    align-items: center;
                    min-height: 367px;
                }

                &:hover .info {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    margin: auto 0;
                    padding: 1rem .5rem;
                    background-color: $bf_black;
                    color: $bf_white;
                    overflow-y: auto;
                    border-radius: .3rem;
                }

                .info {
                    display: none;

                    >* {
                        margin-bottom: .5rem;
                    }
                }

                .fa.fa-star {
                    color: $bf_star;
                    margin: 0 .15rem;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    #app {
        #app_header {
            #search_bar {
                flex-direction: row;
                justify-content: space-between;


                .title {
                    margin-bottom: 0;
                }
            }
        }
    }
}